@import url('bootstrap.css');

html {
    overflow: hidden;
}
body {
    background: #fff;
    color: #000;
    font: 300 100.1% "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
}
#message {
    width: 400px;
    height: 10px;
    position: fixed;
    float: right;
    bottom: 5px;
    right: 5px;
    text-align: right;
    display: none;
}