html, body {
	margin:0px;
	background:#000;
	height:100%;
}
#top {
	width: 100%;
	height: 50px;
}
#logout{
	background: #262626 url(../imgs/logout.png) no-repeat 95px 0px;
	float:right;
	width:130px;
	height:18px;
	margin-right:5%;
	padding-top:8px;
	vertical-align:middle;
	text-align:center;
	border: 1px solid #757575;
	-moz-border-radius: 0px 0px 15px 15px ;
	}
#logout a {
	background: #262626;
	font-size:11px;
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#757575;
	text-decoration:none;
	margin-right:25px;
	line-height:15px;
}
#welcome{
	width:250px;
	height:30px;
	float:right;
	margin-right:0px;
	background: #000;
	}
#welcome p{
	font-size:11px;
	font-weight:bold;
	text-align:right;
	padding:0px  10px 0 0;
	color: #BDBDBD;
	line-height:10px;
}
#info{
	width:400px;
	height:30px;
	float:right;
	margin-right:0px;
	background: #000;
	}
#info p{
	font-size:12px;
	font-weight:bold;
	text-align:left;
	padding:0px  10px 0 0;
	color: #BDBDBD;
	line-height:5px;
}
#menu_top{
	background: #262626;
	float:left;
	width:auto;
	height:50px;
	margin-left:5%;
	border:1px solid #757575;
	-moz-border-radius: 0px 0px 20px 20px;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#fff;
	vertical-align:middle;
	text-align:center;
}
#menu_top a {
	padding: 10px 20px 10px 20px;
	text-decoration:none;
	width:40px;
	height:50px;
	-moz-border-radius:15px;
}

#menu_top a img {
	border:0px;
	vertical-align:bottom;
}
#content {
	width: 100%;
	height:88%;
	float:left;
	margin:10px auto;
	border: 1px solid #363636;
	-moz-border-radius:15px;
	color:#757575;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	background:#1A1A1A;
}
#content td p {
	padding-left:10px;
}
#mainIMAGE{
	background: #363636;
	height:100%;
	width: 100%;
	padding-left:2px;
}
#iframeIMAGE{
	height:100%;
	width: 100%;
}
#mainDETAILS{
	height:100%;
}
t_miniIMAGE{
	margin:10px;
	width:15px;
}
#miniIMAGE{
	border:1px solid #212121;
	width:8%;
	margin:10px;
}
td#header_image{
	padding-left:10px;	
	font-size:12px;
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#787878;
}
td#header_texto{	
	font-size:12px;
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#787878;
}
td#texto{
	background:#000;
	font-size:12px;
	color:#b9b9b9;
}
#table_details {
	width:98%;
}

#iframeComment {
margin:5px auto;
border:1px dashed #666;
width:98%;
padding:0pxx;
}
